<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jose Villabona">
    <link rel="shortcut icon" href="http://josevillabona.com/wp-content/uploads/2021/09/Agencia-Web-Bucaramanga-1.png" />
    <meta name="theme-color" content="#000000" />

    <title>Portafolio de Servicios </title>

    <!-- CSS Bootstrap  -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">    

  </head>

  <body> 

  <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="https://lh3.googleusercontent.com/a/ACg8ocJJPa81bGOYtaAH6B1G_70gKcGjYjTIpjIcSKNw55sWa_s=s432-c-no" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white" class="img-fluid"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.agencia-web.co/" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.agencia-web.co/contacts/">Contacto</a>
            </li> 
            </ul>

          </div>
        </div>
      </nav>
    </header>

    <div class="bg-dark text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Portafolio de Servicios</h1>
        <div class="col-lg-6 mx-auto">
          <p class="fs-5 mb-4">Servicios digitales de primera calidad: diseño de logotipos únicos, desarrollo web moderno, marketing en redes sociales, SEO para mayor visibilidad y diseño de interfaces atractivas. Precios competitivos. ¡Potencia tu negocio en línea!.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">LLAMAR</button>
            <button type="button" class="btn btn-outline-light btn-lg px-4">WHATSAPP</button>
          </div>
        </div>
      </div>
    </div>


      <div class="container mt-5 mb-5">

          <div class="row">

            <div class="col-md-12">

                <h1 style="font-size: 28px; margin-top: 50px;" class=" text-center">Portafolio de Servicios </h1>

              <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <!-- Logo -->
                  <div class="logo">
                     <h1>Administrador</h1>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="input-group form">
                           <!--
                           <input type="text" class="form-control" placeholder="Buscar...">
                           <span class="input-group-btn">
                             <button class="btn btn-primary" type="button">Buscar</button>
                           </span>
                           -->
                      </div>
                    </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                          <li><a href="/">Administrador</a></li>
                        </ul>
                      </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="page-content">
        <div class="row">
          
          <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">

              <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/"> Productos</a>
                  </li>
                  <li class="list-group-item">
                    Opción 1
                  </li>
                  <li class="list-group-item">
                    Opción 2
                  </li>
                  <li class="list-group-item">
                    Opción 3
                  </li>
                  <li class="list-group-item">
                    Opción 4
                  </li>
                  <li class="list-group-item">
                    Opción 5
                  </li>
                  <li class="list-group-item">
                    Opción 6
                  </li>
                  <li class="list-group-item">
                    Opción 7
                  </li>
                  <li class="list-group-item">
                    Opción 8
                  </li>
              </ul>
            </div>
          </div>
        
            <div class="col-md-10">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Productos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear</li>
          </ol>
        </nav>
        
        <div class="row">

          <div class="col-md-12">

              <div class="content-box-large">

                <div class="panel-heading">
                <div class="panel-title"><h2>Crear</h2></div>             
                    
              </div>
                
                <div class="panel-body">
                                  
                    <section class="example mt-4">

                      <form method="POST" action="http://localhost:3000/api/v1/productos" role="form" enctype="multipart/form-data">

                        <input type="hidden" name="_method" value="POST">

                        <div class="mb-3">
                            <label for="nombre" class="negrita">Nombre:</label> 
                            <div>
                                <input class="form-control" placeholder="Producto a Crear" required="required" name="nombre" type="text" id="nombre"> 
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="precio" class="negrita">Precio:</label> 
                            <div>
                                <input class="form-control" placeholder="Dolares" required="required" name="precio" type="text" id="precio"> 
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="stock" class="negrita">Stock:</label> 
                            <div>
                                <input class="form-control" placeholder="Cuantos?" required="required" name="stock" type="text" id="stock"> 
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="img" class="negrita">Selecciona una imagen:</label>
                            <div>
                                <input name="img" type="file" id="img" required> 
                            </div>
                        </div> 

                        <button type="submit" class="btn btn-info">Guardar</button>
				                <a href="/" class="btn btn-warning">Cancelar</a>
                                                          
                      </form>                                      
                                    
                    </section>

                </div>

              </div>

          </div>

        </div>

      </div>

      </div>

        </div>
              
            </div>

          </div>          

          <hr>

          <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom"></h2>
        
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Página web básica para pequeñas empresas</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://lh3.googleusercontent.com/a/ACg8ocJJPa81bGOYtaAH6B1G_70gKcGjYjTIpjIcSKNw55sWa_s=s432-c-no" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>Entrega</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <small>3d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Página web intermedia para negocios en crecimiento</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://lh3.googleusercontent.com/a/ACg8ocJJPa81bGOYtaAH6B1G_70gKcGjYjTIpjIcSKNw55sWa_s=s432-c-no" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>Entrega</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <small>10d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tienda en línea para vender sus productos en todo el mundo</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://lh3.googleusercontent.com/a/ACg8ocJJPa81bGOYtaAH6B1G_70gKcGjYjTIpjIcSKNw55sWa_s=s432-c-no" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>Entrega</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <small>20d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>



    <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a href="https://josevillabona.com/" target="_blank">Jose Villabona</a>
      </div> 
    </footer>

    <!-- JS Bootstrap  --> 
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    
  </body>
</html>